<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
<form action='hello' method='POST'>
    <input type='text' name='name' style='color:red; font-size:30px'>
    <select name='language' style='color:blue; font-size:30px'>
        <option value=''>--Select a language--</option>
        <option selected='selected' value='Hello'>English</option>
        <option value='Bonjour'>French</option>
        <option value='Hallo'>Dutch</option>
        <option value='Hallo'>German</option>
        <option value='Hola'>Spanish</option>
        <input type='submit' value='Greet me!' style='color:purple'/>
        </select>
    </form>
</body>
</html>